<h4>totalPointsOfAllGames: {{totalPointsOfAllGames}}</h4>
<!--<div *ngFor="let game of allGames">-->
<!--  <p>{{testMethodSignname(game.sign_me.name)}} : {{game.sign_me.name}}</p>-->
<!--  <p>{{testMethodSignname(game.sign_Enemy.name)}}</p>-->
<!--  <p>Expected Outcome: {{testMethodOutcome(game.expectedOutcome)}} : {{game.getOutcome()}}</p>-->
<!--  <p>Real Outcome: {{testMethodOutcome(game.getOutcome())}} : {{game.getOutcome()}}</p>-->
<!--  <p>{{game.getPoints()}}</p>-->
<!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--</div>-->
