<!--<div *ngFor="let rucksack of rucksacks">-->
<!--  <p>Bag1: {{rucksack.firstBag}} length: {{rucksack.firstBag.length}}</p>-->
<!--  <a *ngFor="let unique of rucksack.firstBag_unique">({{unique}})</a>-->
<!--  <p>Bag2: {{rucksack.secondBag}} length: {{rucksack.secondBag.length}}</p>-->
<!--  <a *ngFor="let unique of rucksack.secondBag_unique">({{unique}})</a>-->
<!--  <h4>Items in Both bags</h4>-->
<!--  <p *ngFor="let item of rucksack.itemsInBothBags">-->
<!--    {{item}}-->
<!--  </p>-->
<!--  <p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--</div>-->
<!--<h1>Result1: {{result_1}}</h1>-->


<!--<div *ngFor="let rucksackGroup of rucksackGroups">-->
<!--  <p>Bag1: {{rucksackGroup[0]}} length: {{rucksackGroup[0].size}}</p>-->
<!--  <p>Bag2: {{rucksackGroup[1]}} length: {{rucksackGroup[1].size}}</p>-->
<!--  <p>Bag2: {{rucksackGroup[2]}} length: {{rucksackGroup[2].size}}</p>-->
<!--  <h4>Items in all 3 bags</h4>-->
<!--  <p *ngFor="let item of rucksackGroup">-->
<!--    {{item}}-->
<!--  </p>-->
  <p>----------------------------</p>
<!--</div>-->
<h1>Result1: {{result_2}}</h1>
